version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.backend  # Путь к Dockerfile для backend в корне
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db  # Имя сервиса PostgreSQL
      - DB_USER=postgres
      - DB_PASSWORD=123
      - DB_NAME=wasa
      - DB_PORT=5432
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: postgres:13-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123
      - POSTGRES_DB=wasa
    ports:
      - "5432:5432"
    networks:
      - app-network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend  # Путь к Dockerfile для webui в корне
    ports:
      - "8081:80"
    depends_on:
      - app  # Запуск фронтенда после backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
